<h2>Book detail</h2>
<table class="table">
  <tbody>
    <tr>
      <td>
      <% if @book.user %>
        <%= link_to user_path(@book.user) do %><%= image_tag @book.user.get_profile_image(100,100) %><% end %>
        <%= link_to @book.user.name, user_path(@book.user) %>
      <% else %>
        ユーザー情報を表示できません
      <% end %>
      </td>
    </tr>
  </tbody>
</table>