<div class="head-container">
  <div class="container">
    <div class="row">
      <div class="mx-auto mt-5 mp-3">
        <h1>Welcome to <strong><i class="fa-solid fa-paw"></i>Dogers</strong>!</h1>
      </div>
    </div>
  </div>
</div>



