<div class="main-container">
  <div class="image src1"></div>
  <div class="image src2"></div>
  <div class="image src3"></div>
  <div class="row">
    <div class="mx-auto mt-5 col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <strong><i class="fa-solid fa-paw"></i>Dogers</strong>  !!</h1>
      <p>In <strong><i class="fa-solid fa-paw"></i>Dogers</strong>, </p>
      <p>you can share and exchange  your opinions , inpressions , and emotions</p>
      <p> about various dogs!</p>

      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
