.head-container {
  background-image: url('/assets/IMG_3509.JPG');
  height: 900px;
  background-position: center top;
  background-size: cover;
}

.main-container{
  height: 800px;
  width: 100%;
  position: relative;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center center;

  animation: image-switch-animation 15s infinite;
}

.src1 {
  background-image: url('/assets/IMG_0859.JPG');
}
.src2 {
  background-image: url('/assets/IMG_1241.JPG');
}
.src3 {
  background-image: url('/assets/IMG_1374.JPG');
}

@keyframes image-switch-animation {
  25%{ opacity: 0;}
  50%{ opacity: 1;}
  100%{ opacity: 0;}

}

.image:nth-of-type(1) {
  animation-delay: 0s;
}
.image:nth-of-type(2) {
  animation-delay: 5s;
}
.image:nth-of-type(3) {
  animation-delay: 10s;
}